/* the styles below apply to the unstyled React components.
You see them around with no .style in the fileExtension! */



.navbar {
  height: 12vh;
  background-color: rgba(102, 16, 83, 0.698);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid black;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.listItem:hover {
  font-size: 17px;
  color: tomato;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.home {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rgba(53, 16, 102, 0.678);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.postDesc {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}

.postLongDesc {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}
.link{
  margin-left: 2rem;
  color: inherit;
  text-decoration: none;
}

/* SearchBar */

.searchBar {
  position: relative;
  left: 12rem;
  font-size: 25px;
  };

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }
  .loginTitle {
    display: none;
  }
  .or{
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    color: gray;
    background-color: white;
    font-weight: bold;
  }
  .facebook{
    background-color: #507cc0;
  }

  .left {
    padding: 20px;
  }

  .searchBar {
    position: absolute;
    font-size: 25px;
    };


  /* css variables */

:root {
  --bg: #242526;
  --text-color: white;
  --border: 1px solid black;
  --border-radius: 8px;
}

/*All the styles below are copied and applied to the styled React components and only here for saftey reasons.*/


/* .login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
} */


/* .left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} */

/* .line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
} */

/* .loginButton{
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
} */

/* 
.google{
  background-color: #df4930;
} */


/* .github{
  background-color: black;
} */

/* .icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
} */

/* input{
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
} */

/* .submit{
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
} */

/* .loginTitle{
  position: absolute;
  top: 150px;
  color:lightgray
} */



  /* .center {
    width: 100%;
    position: relative;
  } */

  /* .right {
    padding: 20px;
  } */

  /* .line {
    height: 0.5px;
    width: 300px;
  } */
}

/* Dropdown */

/* .container {
  width: 100%;
  height: 100vh;
} */

/* .dropdown{
  user-select: none;
  margin-left: 40px;
  height: 40px;
  width: 80px;
  margin: 100px auto;
} */

/* .dropdown .dropdown-btn {
  padding: 15px 20px;
  background-color: black;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
} */

/* .dropdown .dropdown-content {
  postion: absolute;
  top: 110%;
  padding: -55px;
  font-weight: 300;
} */

/* .dropdown .dropdown-content .dropdown-item {
  border-radius: 20px;
  background: black;
  color: white;

  padding: 10px;
  cursor: pointer;
  transition: all 0.25s;
} */

/* .dropdown .dropdown-content .dropdown-item:hover{
  background-color: rgb(187, 174, 174);
} */