/* CREATE PROJECT BUTTON ON PROJECTS PAGE, not the one on the form*/
.btn_prModal_cont{
    grid-area: post;
    font-family: "Raleway",sans-serif;
    width: 100%;
    height: 3rem;
    color: #2c2d48;
    background-color: #fcf8f5;
    box-shadow: 0px 0px 3px 1px #CFCCCA;
    text-align: center;
    /* border-radius: 15px; */
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.btn_prModal_cont:hover{
    border-radius: 40px;
    transition: 1s;
    text-decoration: underline 1px solid;
}

/* Modal styling */
.prOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);
}

.prModal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    margin: 3rem;
    border-radius: 3px;
    width: 70%;
    height: 80%;
}

.prModal-content h2{
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 3rem;
}

.pr_form {
    height: 78%;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 7rem 4rem;
    
}

.close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #f1356d;
}

/* Form styling */
.pr_form p {
    width: 90%;
    align-self: center;
}

.pr_form label,
.pr_form input[type="text"],
.pr_form textarea[type="text"],
.pr_form select {
    width: 90%;
    height: 10%;
    margin: 0.6rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: none;
}

.pr_form input[type="text"] {
    border: 1px solid #ddd;
}

.pr_form textarea[type="text"] {
    border: 1px solid #ddd;
    width: inherit;
    
}
/* Inside flexbox */
.left_side,
.right_side{
    display: flex;
    flex-direction: column;
    flex:0;
    width:75%;
    height: 80%;
    flex: 1; 
}

/* Inside flexbox */
.size_and_stage {
    width: 90%;
    /* display: flex; */
    justify-content: center;
    
    /* align-items: flex-start;
    margin: 0.8rem;
    /* flex: 0 30%; */
}

.size_and_stage p{
    flex: 0 50%;
}

.radioBtn input[type="radio"]{
    /* display: inline-flex; */
    /* flex-direction: column; */
    width: 40%;
    /* flex: 0 0 40%; */
}


/* Buttons on the form */
.prModal-content button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.create_Btn {
    position: absolute;
    width: 30%;
    margin: 0 0.8rem;
    bottom: 4rem;
    right: auto;
}

@media screen and (max-width: 992px) {

    .prModal-content {
        top: 53%;
        height: 100%;
        justify-content: center;
    }
    .pr_form{
        height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}