/* @import url(‘https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap’); */
/* @import url(https://fonts.googleapis.com/css?family=Roboto);
/* * {
    margin: 0;
    padding: 0;
    font-family: ‘Roboto’, sans-serif;
    /*  outline: 2px solid pink; */

/* body {
    background-color:   white;
    color: black; 
  */
/* navbar = nav */
/* Container with options on the left =  left */
/* post = post */
/* h1 in post = head */
/* .head {
  grid-area: head;
} */
/* .grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows:  300px;
  grid-template-areas:
    “nav nav nav nav nav”
    “left post post post post”
  } */

  /* pietCOde */

  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: ‘Roboto’, sans-serif;
    /*  outline: 2px solid pink; */
   
}
body {
    background-color:   white;
    color: black; /* hello pietro */
    width: 100vw;
}

/* navbar = nav */
/* Container with options on the left =  left */
/* post = post */
/* h1 in post = head */
.head {
  grid-area: head;
}
.grid-container {
  display: grid;
  width: 100vw;

  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows:  300px;

  grid-template-areas:
    "nav nav nav nav nav" 
    "left post post post ."
  }

  @media (max-width: 768px){
    body{
      width: 100vw;
    }
  };
    
