.filterBtn {
  background: #62ce60;
  color: #fafafa;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 2rem;
  border-style: none;
  width: 20rem;
  margin: 1rem;
}

.filterBtn:hover {
  background: #ce6081;
  cursor: pointer;
}
