.postOuterWrap {
  grid-area: post;
  font-family: "Raleway", sans-serif;
  overflow: scroll;
  /* margin: 1rem auto 0 auto; */
  display: grid;
  grid-template-areas: "topFeed" "contentFeed ";
  /* background-color: rgba(244, 240, 240, 0.5); */
  /* background-color: antiquewhite; */
  background-color: #fcf8f5f8;
  background-color: hsla(136, 40%, 54%, 0.178);
  box-shadow: 0px 0px 10px 1px #cfccca;
  /* width: 85%; */
  height: 85%;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.116);
  /* border-radius: 30px; */
  border-radius: 10px;
}
.postsContainer {
  margin: 1rem auto;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  grid-area: contentFeed;
  width: 100%;
}
.newPostForm {
  grid-area: topFeed;
  margin: 0 auto;
  position: sticky;
}

.postCard {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  height: 20rem;
  width: 90%;
  margin: 20px auto;
  padding: 0.5rem 1rem;
  font-family: "Raleway", sans-serif;
  grid-area: postCards;
  display: grid;
  grid-template-rows: [row1-start] 15% [row1-end row2-start] 25% [row2-end];
  grid-template-columns: 1fr 2fr 10%;
  grid-template-areas:
    "author date date"
    "img content content"
    "img content content"
    "comments comments icons";

  /* background-color: rgb(182, 237, 209); */
  /*  background-color: rgba(255, 225, 240, 0.1); */
  /*  background: #6cbbb8bb; */
  /* background: radial-gradient(circle, rgba(216,174,238,1) 0%, rgba(148,187,233,1) 100%); */
  /*  background: #E8ECD6; */

  background-color: #669df66c;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: black;
}

.postImg {
  margin: 0 0rem;
  width: 15rem;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  grid-area: img;
}

.icons {
  grid-area: icons;
  display: flex;
  justify-self: end;
}

.iconHeart {
  color: #df4930;
}

.comment {
  padding: 0.8rem;
  color: black;
  background-color: rgba(245, 245, 245, 0.845);
  font-family: "Raleway", sans-serif;
  height: 5rem;
  border-radius: 10px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  grid-area: comments;
}

.comment_input {
  border: none;
  background-color: transparent;
}

.comment_btn {
  border: 1px solid;
  padding: 0 5px;
  background-color: transparent;
  border-radius: 8px;

  /* color:  */
}
.fa-bookmark {
  margin-right: 1em;
}

/* .button {
    margin: 0.5rem;
    background-color: rgb(215, 29, 122);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    text-align: right;
    float: right;
    font-weight: bold;
  } */

.author {
  margin: 0.5rem;
  color: gray;
  font-family: "Raleway", sans-serif;
  grid-area: author;
}

.postContent {
  font-size: 20px;
  margin: 0.5rem;
  font-family: "Raleway";
  font-weight: bold;
  grid-area: content;
}

.date {
  font-family: "Raleway";
  grid-area: date;
}
