@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap");

.lf_container {
  grid-area: left;
  width: 300px;
  height: 500px;
  /* background-color: rgb(247, 90, 23); */
  border-radius: 10px;
  /* position: relative; */
  /* top: -0.8rem;
  left: 1.5rem; */
  margin: 5rem 1.7rem;
  padding: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.116);
  background-color: rgba(241, 237, 237,0.6);
 
}

.options {
  font-family: "Raleway", sans-serif;
  /* border: 1px solid tomato; */
  width: 250px;
  height: 115px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px;
  /* background-color: black; */
  /* background-color: #232b2b; */
  background-color: rgb(218, 218, 211);

  color: black;
  margin: 1.5rem;
  margin-top: 2.7rem;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* transform-origin: 0 0;
    transform: rotate(90deg); */
     
}

.options:hover {
  left: 10px;
  border-radius: 20px;
  transition: 0.3s;
  text-decoration: underline 1px solid;
}
