.mainNewPostContainer {
  display: flex;
  flex-direction: column;
}
.newPost {
  margin: 1rem auto 1rem auto;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.postTextContainer {
  display: flex;
  justify-content: flex-end;
}
.postTextField {
  width: 100%;
  align-self: flex-end;
}

.postTextField {
  align-self: flex-start;
  width: 50.1rem;
  height: 5rem;
  border: solid 1px rgb(78, 71, 71);
  border-radius: 60px;
}

.btnContainer {
  display: flex;
  align-items: center;
}

.uploadBTN {
  width: 6rem !important;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 9rem;
  width: 9rem;
  height: 3rem;
  background-color: white;
}

.publishPostBTN {
  /* border: 1px solid red; */
  border-radius: 2rem;
  width: 14rem;
  height: 3rem;
  background-color: papayawhip;
}
#createNewPostFile {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
}

.NewPost-enter {
  opacity: 0;
  transform: scale(0.9);
}
.NewPost-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.NewPost-exit {
  opacity: 1;
}
.NewPost-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
