.Dropdown { 
    
    font-size: 14px;
    user-select: none;
    margin-left: 100px;
    height: 50px;
    width: 100px;
    margin: 100px auto;
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
    /* postion: relative; */
    border-radius: 20px;
    left: 50px;
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.DropdownBtn {
    display:grid;
    padding: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.DropdownBtn:hover {
    transition: all 1s;
    background-color: rgba(80,30,10,0.1);
}

.DropdownContent {
    display:grid;
    font-weight: 300;
    background: black;
    color: white;
    cursor: pointer;
}

.DropdownContent:hover {
    transition: all 1s;
    background-color: rgba(80,30,10,0.1);
}

.DropdownItem {
    display:grid;
    background: black;
    color: white;
    text-align:center;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.25s;
}

.DropdownItem:hover {
    background-color: rgba(80,30,10,0.1); 
}