@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');


.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(129, 183, 230, 0.938);
    background-color:rgb(151, 191, 191);
  }

  .bird{
   height:100px;
    backgroundColor: white;
  }

   .left, .right{
    flex: 1;
    justify-content: space-around;
    text-align: center;
  }

  h1{
    font-size: 40px;
    width: 180px;
  }

  span{
    font-size: 20px;
    color: rgb(109, 96, 100);
  }

  
  .right {
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
  } 

  .loginTitle {
    position: relative;
    color: black;
    font-size: 1.3em;
  }

  .loginButton {
    width: 190px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
   
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
  } 

  .loginButton:hover{
    width: 180px;
    text-align: center;
    transition: width 0.7s;
  }

  .google {
    color: white;
    width: 190px;
    background-color: rgb(240, 74, 13);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  };


  .github {
    width: 190px;
    background: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  };

  .icon {
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  input {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 190px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .submit {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 190px;
    background-color: rgb(36, 219, 67);
    color: white;
    /* color: black; */
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
  }


  .submit:hover {
    align-self: center;
    background-color: rgb(36, 219, 67);
    width: 180px;
    color: black;
    transition: width 0.7s;
    

  }

  li {
    list-style: none;
  }

  .password-forgotten {
    color: black;
    text-decoration: none;
  }

  .password-forgotten:hover{
    color: grey;
  }

  .create-account {
    color: black;
    text-decoration: none;
    
  }

  .create-account:hover{
    opacity: 1;
    color: grey;
  }

  
  

 


    