@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

.login {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(240, 248, 255, 0.938);
    background-color:rgb(151, 191, 191);
    
  }
  
  .wrapper {
    width: 80%;
    height: 90%;
    background: rgba(255, 253, 248, 1);
    box-shadow: 0 8px 32px 0 rgba(199, 199, 211, 0.904);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(41, 41, 41, 0);
    display: flex;
    align-items: center;
    border-radius: 20px;
    
  }

   .left, .right{
    flex: 1;
    justify-content: space-around;
  }
  
  .right {
    
    height: 52rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 20rem;
    
    
  } 

  .loginTitle {
    position: relative;
    color: black;
    font-size: 1.3em;
  }

  .loginButton {
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    top: 3rem;
  } 

  .google {
    width: 190px;
    background-color: rgb(240, 74, 13);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }


  .github{
    width: 190px;
    background: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .icon {
    color: black;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  input {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .center{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* .line {
    width: 0.5px;
    height: 70%;
  } */


  .line {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  } 

  .or {
    padding: 6px;
    width: 185px;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid black;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 190px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .submit {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 190px;
    background-color: rgb(36, 219, 67);
    color: white;
    /* color: black; */
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
  }

  li {
    list-style: none;
  }

  .password-forgotten {
    color: black;
    text-decoration: none;
  
  }

  .create-account {
    color: black;
    text-decoration: none;
  }
  

 


    